[submodule "aoc2019"]
	path = aoc2019
	url = https://github.com/irevoire/aoc2019
	branch = master
[submodule "aoc2018"]
	path = aoc2018
	url = https://github.com/irevoire/aoc2018
	branch = master
[submodule "aoc2015"]
	path = aoc2015
	url = https://github.com/irevoire/aoc2015
	branch = master
